.menu-lateral{
    height: 100vh;
    width: 65px;
    
    
    
    .menu-lateral_espaco_logo{
        height: 8vh;
        
        background-color: #1C1C1C;
        .menu-lateral_logo{
            height: 28px ;
            padding-left: 16px;
            padding-top: 24px;
        }
    }

    .menu-lateral_opcoes{
        height: 92vh;
        background-color: #262626;

        .menu-lateral_opcoes_3{
            padding-left: 14px;
            padding-top: 16px;

            .menu-lateral_opcoes_3_individual{
                padding-top: 8px;

                span{
                    color: #797979;
                }

            }

        }
    }

}