

.container-profile, .container-info{

    width: 600px;
    height: 324px;
    border-radius: 30px;
    border: 2px solid #1E5F83;
    margin-top: 45px;
    margin-left: 70px;
    position: relative;


    .profile-circle{

        position: absolute;
        top: -32px;
        right: 25px;
    }

    .form-profile{
        display: flex;
        flex-direction: row;
        margin-left: -15px;
        margin-top: 15px;
    }

    

}


