.botao{
    
    width: 560px;
    margin-left: 50px;
    margin-top: 20px;
    
    border-radius: 10px;
    border: none;
    color: #fff;
    
    button{
        background-color:#4DBEFE;
        height: 50px;
    }

    button:hover{
        background-color:#11A9FF;
        cursor: pointer;
    }
}